@mixin flexit {
  display: flex;
  justify-content: center;
  align-items: center;
}
$perus-harmaa: #c8c8c4;// RGBA(200, 200, 196, 1)
$otsikon-koko : clamp(1.5rem, 5vw, 3rem);


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background:  $perus-harmaa;
    width: 100vw;
   
    
}

nav {
     position: sticky;
     top: 0;
     z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: rgb(206, 206, 206);
    color: white;
    img {
      height: 40px;
      width:  40px;
    }
    
     
    /* hamppari */
     #hamppari  {
        width: 30px;
        height: 25px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 10px;
      }
      
      #hamppari span {
        display: block;
        position: absolute;
        height: 5px;
        width: 50%;
        background: black;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        background-color: white;
      }
      
      #hamppari span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }
      
      #hamppari span:nth-child(odd) {
        left:0px;
        border-radius: 9px 0 0 9px;
      }
      
      #hamppari span:nth-child(1), #hamppari span:nth-child(2) {
        top: 0px;
      }
      
      #hamppari span:nth-child(3), #hamppari span:nth-child(4) {
        top: 9px;
      }
      
      #hamppari span:nth-child(5), #hamppari span:nth-child(6) {
        top: 18px;
      }
      
      #hamppari.avaa span:nth-child(1),#hamppari.avaa span:nth-child(6) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      #hamppari.avaa span:nth-child(2),#hamppari.avaa span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      #hamppari.avaa span:nth-child(1) {
        left: 5px;
        top: 7px;
      }
      
      #hamppari.avaa span:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px;
      }
      
      #hamppari.avaa span:nth-child(3) {
        left: -50%;
        opacity: 0;
      }
      
      #hamppari.avaa span:nth-child(4) {
        left: 100%;
        opacity: 0;
      }
      
      #hamppari.avaa span:nth-child(5) {
        left: 5px;
        top: 8px;
      }
      
      #hamppari.avaa span:nth-child(6) {
        left: calc(50% - 5px);
        top: 8px;
      }
           
      
}

.navlinks {
  z-index: 100;
 opacity: .8;
  width: 50%;
  height: 100%;  
 position: fixed;
 background-color: white;
 right: 0;
 transition: 0.5s all;
 transform: translateX(100%);
 ul {
       
  li{
      padding: 15px 0px;
      text-align: center;
      list-style: none;
      &:first-child {
          margin-top: 20px;
      }
      a {
          text-decoration: none;
          color: black;
      }
  }
}   
}
.navlinks.aukea {
  transform: translateX(0px);

}
/* Header osuus alkaaa */
header {
    position: relative;
    height: 100vh;
    background-color: lightgray;
   

#headerosuus {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background:linear-gradient( rgba(255, 255, 255, 1) 10%, rgba(200, 200, 196, 1) 100% );
  h1 {
    text-align: center;
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
    text-align: center;
  }
  
    i {
      font-size: 5rem;
    }
  
    button {
      margin-left: 50%;
      transform: translateX(-50%);
    margin-top: 1em;
    padding: 20px 10px;
    border-radius: 999px;
    a {
      font-size: 1.4rem;
      text-decoration: none;
      font-weight: 700;
    }
  }
}
}

#omaesittely {
  transition: 1s all ease-in-out;
  position: relative;
  width: 100vw;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
  padding: 2em;

        .mina {
          font-size: $otsikon-koko;
          text-align: center;
          color: rgba($color: #000000, $alpha: .3);
        
        .omakuva {
          max-width: 275px;
          max-height: 300px;
          transition: all 1s ease-in-out; 
          border-radius: 50%;
        }
        }
        .kirjoitus {
          padding: 2em;
          font-size: clamp(1rem, 3vw, 1.5rem);
        }

}


   
/* galleria osuus alkaa tästä */
#galleria {


h2, p {
  text-align: center;
  margin-bottom: 2em;
 
}
h2 {
  font-size: $otsikon-koko;
}


.slider {
  
  @include flexit();
  margin-bottom: 7em;
  img {
    width: 50%;
    border: 5px solid black;
    border-radius: 5px;
  }
  i {
    font-size: 2rem;
    padding: 1em;
  }
}
}
/*Projekti osuus */
#projektit {
  h2 {
    font-size: $otsikon-koko;
    text-align: center
  }
  .duunit {
  @include flexit();
  flex-wrap: wrap;
  div {
    margin: 30px;
  }
  img {
    width: 200px;
    height: 200px;
  }
  }
}
/* yhteystiedot osuus */
#yhteystiedot {
  text-align: center;
  position: relative;
  height: 90vh;
  h2 {
    margin-bottom: 40px;
    font-size: $otsikon-koko;
  }
  .socialmedia {
    a{
    font-size: 5rem;
    margin: 40px;
    i {
      color: black;
    }}
  }
  .otayhteytta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 15px;
    width: 280px;
    border-radius: 10px;
    display: inline-block;
    input, textarea {
      
      padding: 5px;
      font-size: 1.1rem;
      margin: 10px ;
      width: auto;
      border-radius: 5px;
      outline: none;
      border: none;
      
    }
    label {
      /* order: -1; */
      position: absolute;
      font-size: 1.1rem;
      transform: translate(-50%,-37px) scale(0.8);

      transition: all .5s ease-out;
    }
    input:focus {
      border-bottom: 2px solid black;
    }
    input:focus ~ label{
      transform: translate(-50%,-70px);
    }
  }
}
/* footer osuus */

footer {
  margin-top: 30px;
  
  color: white;
  background-color: black;
  padding: 20px;
}