@mixin flexit {
  display: flex;
  justify-content: center;
  align-items: center;
}
$harmaa: #E3DCC2;
$vaalea-vihrea: #E3DC95;
$vihrea: #A6A867;
$tumma-vihrea: #51513D;
$tumma: #1B2021;
$otsikon-koko : clamp(1.5rem, 3vw, 2rem);
$tekstin-koko : clamp(1rem, 3vw, 1.5rem);


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background: $tumma-vihrea;
    width: 100vw;
   color: $harmaa;
   line-height: 1.3;
    
}
.normiteksti {
  padding: 2em 10vw;;
}

nav {
     position: sticky;
     top: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    
    padding: 10px 30px;
   
    
    img {
      height: 40px;
      width:  40px;
    }
    
     
    /* hamppari */
     #hamppari  {
        width: 30px;
        height: 25px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 10px;
      }
      
      #hamppari span {
        display: block;
        position: absolute;
        height: 5px;
        width: 50%;
        background: black;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        
      }
      
      #hamppari span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }
      
      #hamppari span:nth-child(odd) {
        left:0px;
        border-radius: 9px 0 0 9px;
      }
      
      #hamppari span:nth-child(1), #hamppari span:nth-child(2) {
        top: 0px;
      }
      
      #hamppari span:nth-child(3), #hamppari span:nth-child(4) {
        top: 9px;
      }
      
      #hamppari span:nth-child(5), #hamppari span:nth-child(6) {
        top: 18px;
      }
      
      #hamppari.avaa span:nth-child(1),#hamppari.avaa span:nth-child(6) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      #hamppari.avaa span:nth-child(2),#hamppari.avaa span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      #hamppari.avaa span:nth-child(1) {
        left: 5px;
        top: 7px;
      }
      
      #hamppari.avaa span:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px;
      }
      
      #hamppari.avaa span:nth-child(3) {
        left: -50%;
        opacity: 0;
      }
      
      #hamppari.avaa span:nth-child(4) {
        left: 100%;
        opacity: 0;
      }
      
      #hamppari.avaa span:nth-child(5) {
        left: 5px;
        top: 8px;
      }
      
      #hamppari.avaa span:nth-child(6) {
        left: calc(50% - 5px);
        top: 8px;
      }
           
      
}

.navlinks {
  
 opacity: .8;
  width: 50%;
  height: 100%;  
 position: fixed;
 z-index: 16;
 background-color: $tumma;
 right: 0;
 transition: 0.5s all;
 transform: translateX(100%);
    ul {
      z-index: 18;  
      li{
        
          padding: 15px 0px;
          text-align: center;
          list-style: none;
          &:first-child {
              margin-top: 20px;
              
          }
          a {
            text-decoration: none;
            color: $vaalea-vihrea;
           }
           &:hover {
             transform: scale(1.2);
           }
          
      }
    }   
}
.navlinks.aukea {
  transform: translateX(0px);

}
/* Header osuus alkaaa */
header {
    position: relative;
    height: 100vh;
    background: rgb(227,220,149);
background: radial-gradient(circle, rgba(227,220,149,1) 8%, rgba(166,168,103,1) 58%, rgba(81,81,61,1) 85%);
   

#headerosuus {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  .otsikko {
   /*  background-color: red; */
    position: relative;
    height: 100px;
    margin-bottom: 3em;
      
      
      
      img {   
        position: absolute;    
        z-index: 2;
        width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0.5;
      }
}
  h2 {
    font-size: $otsikon-koko;
    text-align: center;
  }
  /* Pisarat */
  .drops {
    position: relative;
    @include flexit();
    .drop {
      position: absolute;
      width: 150px;
      height: 150px;
      background: transparent;
      border-radius: 37% 63% 32% 68% / 43% 51% 49% 57% ;
      box-shadow: inset 10px 10px 10px rgba($color: #000000,  $alpha: 0.05), 
      15px 25px 10px rgba($color: #000000, $alpha: 0.1),
      15px 20px 20px rgba($color: #fff, $alpha: 0.05),
      inset -10px -10px 25px rgba($color: #fff, $alpha: 0.9);

    }
    h1 {
      z-index: 1;
      font-size: clamp(2.2em,8vw,5em);
      color: $tumma-vihrea;
    }
    .drop::before {
      content: '';
      position: absolute;
      top: 35px;
      left: 35px;
      background: white;
      width: 20px;
      height: 20px;
      border-radius: 72% 28% 43% 57% / 56% 43% 57% 44% ;
    }
    .drop::after {
      content: '';
      position: absolute;
      top: 25px;
      left: 65px;
      background: white;
      width: 10px;
      height: 10px;
      border-radius: 53% 47% 43% 57% / 56% 28% 72% 44%  ;
    }
    .drop:nth-child(2) {
      transform: scale(0.5) translate(210px, -100px);
      border-radius: 71% 29% 60% 40% / 56% 53% 47% 44%;
      

    }
    .drop:nth-child(3) {
      transform: scale(0.3) translate(-300px, 150px);
      border-radius: 35% 65% 40% 60% / 56% 33% 67% 44% ;
      

    }
  }
  /* pisarat loppuu */
    i {
      font-size: 4rem;
      color: $tumma-vihrea;
    }
  .nappi {
    color: $tumma-vihrea;
    width: 100%;
    
    button {
      margin-left: 50%;
      transform: translateX(-50%);
    margin-top: 1em;
    padding: 20px 10px;
    border-radius: 100%;
    background-color: $tumma-vihrea;
    ;
    
    a {
      font-size: 1.4rem;
      text-decoration: none;
      font-weight: 700;
      color: $vaalea-vihrea;
      padding: 0 20px;
    }
    
  }
}
}
}
/* tästä alkaa 'minä' esittely */
#omaesittely {
  transition: 1s all ease-in-out;
  position: relative;
  width: 100vw;
  background-color: $tumma-vihrea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $harmaa;
        .mina {
          font-size: $otsikon-koko;
          text-align: center;   
          
        } 
        .omakuva {
          max-width: 275px;
          max-height: 300px;
          transition: all 1s ease-in-out; 
          border-radius: 50%;
          margin: 1em;
        }
        
        .kirjoitus {
          
          font-size: $tekstin-koko;
        }

}


   
/* galleria osuus alkaa tästä */

#galleria {
  min-height: 60vh;
  background: rgb(227,220,149);
  background: linear-gradient(0deg, rgba(227,220,149,1) 0%, rgba(81,81,61,1) 100%);

p {
  
  font-size: $tekstin-koko;
  margin: 20px;
}
h2 {
  text-align: center;
  
  font-size: $otsikon-koko;
}


.slider {
  
  @include flexit();
  
  img {
    width: 50%;
    border: 5px solid black;
    border-radius: 5px;
    max-width: 800px;
  }
  i {
    font-size: clamp(2rem, 8vw, 4rem);
    padding: 1em;
    color: $tumma;
  }
}
}
/*Projekti osuus */
#projektit {
  margin-top: -3px;
  background: $vaalea-vihrea;
  color: $tumma-vihrea;
  h2 {
    
    padding: 10px;
    padding-top: 2em;
    font-size: $otsikon-koko;
    text-align: center;
    color: $tumma-vihrea
  }
  p {
    font-size: $tekstin-koko;
  }
  .duunit {
  @include flexit();
  flex-wrap: wrap;
 
    .duuni  {
        color: $tumma-vihrea;
        margin: 30px;
        padding: 20px;
        text-align: center;
        box-shadow: inset 5px 5px 30px $vihrea,
                    inset 3px 3px 6px $tumma-vihrea;

        
        li {
          list-style: none;
        }
      
        a {   
          
          img {
            width: 200px;
            height: 200px;
            box-shadow: 8px 8px 30px $vihrea,
                        3px 3px 6px $tumma-vihrea;
          }
          img:hover {
            transform: translateY(-5px);
          }       
        }  
    }
      }
     
  }

/* yhteystiedot osuus */
#yhteystiedot {
  background: rgb(227,220,149);
background: linear-gradient(0deg, rgba(227,220,194,1) 0%, rgba(227,220,149,1) 25%);
  
  text-align: center;
  position: relative;
  height: 80vh;
  h2 {
    padding: 20px;
    padding-top: 2em;
    font-size: $otsikon-koko;
    color: $tumma;
    
  }
  p {
    padding: 0 0 30px 0;
  }
  .nelio {
    height: 100px;
    width: 100px;
    
    background-color: green;
    position: absolute;
    top: 40%;
    left: 60%;
    border-radius: 25px;
  }
  .nelio2 {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    background-color: blue;
    position: absolute;
    top: 60%;
    left: 10%;
  }

  /* otayhteyttä formi */
  .otayhteytta {
    z-index: 10;
    position: absolute;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 420px;
    padding: 15px;
    width: 280px;
    border-radius: 10px;
    display: inline-block;
    @include flexit();
    line-height: 0.8;
    flex-direction: column;
    p {
      color: $tumma;
      font-size: 1.2rem;
    }
    input, textarea {
      
      padding: 5px;
      font-size: 1.1rem;
      margin: 10px ;
      width: auto;
      border-radius: 5px;
      outline: none;
      border: none;
      
    }
    label {
      /* order: -1; */
      position: absolute;
      font-size: 1.1rem;
      transform: translate(-50%,-37px) scale(0.8);
      color: $vihrea;
      transition: all .5s ease-out;
      pointer-events: none;
    }
    .validoi {
      margin-top: -18px;
      font-size: .8rem;
      color: red;
    }
    input:focus {
      border-bottom: 2px solid black;
    }
    input:focus ~ label{
      transform: translate(-50%,-70px);
      color: $tumma;
    }
    textarea {
      font-family: 'Roboto', sans-serif;
      
    }
    input[type=submit] {
      
      padding: 10px 30px;
      background: $tumma;
      color: $vaalea-vihrea;
      border-radius: 10px;
      
    }
    input[type=submit]:hover {
      transform: scale(1.1);
    }
  }
}
.socialmedia {
  margin-top: -3px;
  background-color: $harmaa;
  height: 150px;
  transition: 0.5 all;
  @include flexit();
  a{
  font-size: 4rem;
  margin: 40px;
  i {
    color:purple;
  }}
  a:hover {
    transform: scale(1.1);
  }
}
/* footer osuus */

footer {
  
  
  color: $harmaa;
  background-color: $tumma;
  padding: 20px;
  @include flexit();
  flex-direction: column;
  p {
    padding: 10px;
  }
  img {
    height: 40px;
    padding: 5px;
  }
}
.piilota {
  display: none;
}
/*kiitospalaute */

.kiitoslaatikko {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(222,220,206);
  background: rgb(227,220,149);
  background: radial-gradient(circle, rgba(227,220,149,1) 8%, rgba(166,168,103,1) 58%, rgba(81,81,61,1) 85%);
  
    }
  .kiitosviesti {
    position: absolute;
    @include flexit();
    flex-direction: column;
    font-size: $otsikon-koko;
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background: $tumma-vihrea;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 8px 8px 22px $tumma;
    h4 {
      background: $vihrea;
      padding: 4px 8px;
      box-shadow: 4px 4px 12px $tumma;
    }
    button {
      background: $tumma;
      padding: 10px 30px;
      font-size: 1.1rem;
      border: none;
      box-shadow: inset 3px 3px 8px white,
                  inset -3px -3px 8px $vaalea-vihrea;
      transition: .5s all;
      a {
        text-decoration: none;
        color: $vaalea-vihrea;
        
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
/* mediaqueryt */
@media only screen and (min-width: 400px) {
  #yhteystiedot {
    .nelio,
    .nelio2 {
      width:  150px;
      height:  150px;
    }
    
  }
}
@media only screen and (min-width: 600px) {
  #omaesittely {
    
    .mina {
      padding-top: 4vh;
    }
  }
  #projektit {
       
    .duuni {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      width: 460px;
      margin: auto;
      
    }  
  }
  #yhteystiedot {
    
    .nelio2 {
      left: 20%;
    }
  }
}
@media only screen and (min-width: 800px) {
  nav {
    justify-content: center;
    background: $tumma-vihrea;
    ul {
    @include flexit();
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    li {
      list-style: none;
      
      
      a {
      
        text-decoration: none;
        color: $harmaa;
        font-size: 1.5rem;
        box-shadow: 2px 2px 5px $tumma;
        padding: 5px 10px;
        border-radius: 2px;
       
        
      }
    }
    }
    #hamppari {
      display: none;
     
    }
    .isonruudun {
      display: block;
      
      
    }
  }
  .duunit {
    padding: 0 5vw;
  }
}

@media only screen and (min-width: 900px) {
 
  

  #yhteystiedot {
    .otayhteytta {
     
      
      height: 520px;
      padding: 15px;
      width: 380px;
      border-radius: 10px;
      display: inline-block;
      @include flexit();
      line-height: 0.8;
      flex-direction: column;
      p {
        color: $tumma;
        font-size: 1.8rem;
      }
      input, textarea {
        
        padding: 5px;
        font-size: 1.5rem;
        margin: 10px ;
        width: auto;
        border-radius: 5px;
        outline: none;
        border: none;
        
      }
      label {
        /* order: -1; */
        position: absolute;
        font-size: 1.5rem;
        transform: translate(-50%,-37px) scale(0.8);
        color: $vihrea;
        transition: all .5s ease-out;
        pointer-events: none;
      }
      .validoi {
        margin-top: -18px;
        font-size: 1.1rem;
        color: red;
      }
      input:focus {
        border-bottom: 2px solid black;
      }
      input:focus ~ label{
        transform: translate(-50%,-70px);
        color: $tumma;
      }
      textarea {
        font-family: 'Roboto', sans-serif;
        
      }
      input[type=submit] {
        
        padding: 10px 30px;
        background: $tumma;
        color: $vaalea-vihrea;
        border-radius: 10px;
        
      }
      input[type=submit]:hover {
        transform: scale(1.1);
      }
    }
  }
    .nelio2 {
      left: 30%;
    }
  }
  

@media only screen and (min-width: 1000px) {
  
  .normiteksti {
    padding: 0 15vw;
  }
  .duunit {
    padding: 0 10vw;
  }
  .nelio2 {
    left: 55%;
  }
}
@media only screen and (min-width: 1250px) {
 
  .normiteksti {
    padding: 0 20vw;
  }
  #yhteystiedot {
    
    .nelio2 {
      left: 30%;
    }
  }}
@media only screen and (min-width: 1650px) {
    #yhteystiedot {
      .nelio {
        left: 55%;
      }
      .nelio2 {
        left: 35%;
      }
    }}